<div class="gene-login gene-session pad-y-xl">
   <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex.xl="540px" fxFlex.lg="540px" fxFlex.md="540px" fxFlex.sm="540px" fxFlex.xs="100">
         <mat-card class="gene-login-wrapper">
            <div>
               <div fxLayout="column" fxLayoutAlign="center center mrgn-b-md">
                  <div class="login-logo text-center">
                     <img src="assets/img/logo.png">
                     <h5>Attenzione</h5>
                  </div>
               </div>
               {{message}}
            </div>
         </mat-card>
      </div>
   </div>
</div>